
tensor/.vs/tensor/v16/Browse.VC.db
tensor/.vs/tensor/v16/Browse.VC.opendb
tensor/.vs/tensor/v16/ipch/AutoPCH/6a0d5f11734fe4e0/QUICKRUN.ipch
tensor/tensor.sln
tensor/tensor.vcxproj
tensor/tensor.vcxproj.filters
tensor/tensor.vcxproj.user
git.ignore
